<!DOCTYPE html>
<html>
  <!-- views/pokemon/new.html -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/script.js"></script>
    <title></title>
  </head>
  <body>
    <h5> add a task </h5>
    <form id="new-task-form">
      <label>Name:</label>
      <input class="task-task-input" />
      <br />
      <label>Description:</label>
      <textarea class="task-details-input"></textarea>
      <br />
      <label>Image:</label>
      <input class="task-image-input" />
      <br />
      <label>Type:</label>
      <input class="task-iscompleted-input" />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>